<div class="guide-page-inside">
    <div class="page" style="width:{{width}}px;height: {{height}}px">
        <div class="page-inside" style="background: url('/mobile/images/guide_pic/model/guide_model_1.png') no-repeat;background-size: 100%;"></div>
    </div>
    <div class="page" style="width:{{width}}px;height: {{height}}px">
        <div class="page-inside" style="background: url('/mobile/images/guide_pic/model/guide_model_2.png') no-repeat;background-size: 100%;"></div>
    </div>
    <div class="page" style="width:{{width}}px;height: {{height}}px">
        <div class="page-inside" data-role="fail_last" style="background: url('/mobile/images/guide_pic/model/guide_model_3.png') no-repeat;background-size: 100%;"></div>
    </div>
    <div class="page" data-role="last" style="width:{{width}}px;height: {{height}}px;background:rgba(0,0,0,0.5);">
    </div>
</div>





