
<div class="yuepai-des">
    {{#if is_confirm}}
        <div class="pop-tips">
            <p>您已经接受邀请。</p><p>{{{audit_status_text}}}</p>
        </div>
    {{/if}}
    {{#if is_cancel}}
        <div class="pop-tips">
            <p>您已经拒绝邀请。</p><p>{{{audit_status_text}}}</p>
        </div>
    {{/if}}
    {{#if is_wait}}
        <div class="pop-tips">
            <p>费用已支付，快来接受邀请。</p><p>{{{audit_status_text}}}</p>
        </div>
    {{/if}}


    <div class="cam-head" data-role="cam-dead" data-from_date_id="{{from_date_id}}">
        <div class="zone_notice">
            <i class="icon icon-home-s"></i>
            <span data-role-name="cameraman" class="">摄影师</span>
        </div>
        <div class="cam-icon">
            <i class="img circle-img head-icon" style="background-image: url({{cameraman_user_icon}});"></i>
        </div>
        <div class="cam-space">
            <div class="cam-right">
                <div class="user-name" data-role="user-name">{{cameraman_nickname}}</div>
                <div class="location">
                    <i class="icon icon-place"></i>
                    <span data-role="location-name">{{city_name}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="yuepai-info-mod">
        <ul class="list1">
            <li>
                <div class="l">总价：</div>
                <div class="r">￥{{total_price}}</div>
            </li>
            <li>
                <div class="l">时长：</div>
                <div class="r">{{date_hour}}小时</div>
            </li>
            <li>
                <div class="l">人数：</div>
                <div class="r">{{limit_num}}</div>
            </li>
            <li>
                <div class="l">风格：</div>
                <div class="r">{{date_style}}</div>
            </li>
            <li>
                <div class="l">时间：</div>
                <div class="r">{{date_time}}</div>
            </li>
            <li>
                <div class="l">地点：</div>
                <div class="r">{{date_address}}</div>
            </li>
        </ul>

        <!--ul class="list2 ">
            <li>
                <div class="l">时间：</div>
                <div class="r">{{date_time}}</div>
            </li>
            <li>
                <div class="l">类型：</div>
                <div class="r">{{date_type}}</div>
            </li>
            <li>
                <div class="l">地点：</div>
                <div class="r">{{date_address}}</div>
            </li>
        </ul-->
    </div>
</div>