{{#if datas.goddess_model3}}
    <div class="item">
        <div class="part-a">
            <div class="lbox ">{{datas.goddess_model3_title}}</div>
            <div class="rbox more fn-hide" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
        </div>
        <div class="part-b">
            <ul class="list">
                {{#each datas.goddess_model3}}
                    <li data-user-id="{{user_id}}" data-role="model">
                        <div class="avatar-size-mod avatar-size-mod-80">
                            <span class="icon avatar-size-area "></span>
                            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                        </div>
                        <h3>{{nickname}}</h3>
                        <p><span class="num">{{num}}</span><span class="txt"></span></p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{#if datas.goddess_model3_has_next_page}}
        <div class="btn-option" data-role="more" data-add="goddess_model2"><i class="icon icon-r-16x26-cur"></i></div>
    {{/if}}
{{/if}}

{{#if datas.goddess_model2}}
    <div class="item">
        <div class="part-a">
            <div class="lbox ">{{datas.goddess_model2_title}}</div>
            <div class="rbox more fn-hide" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
        </div>
        <div class="part-b">
            <ul class="list">
                {{#each datas.goddess_model2}}
                    <li data-user-id="{{user_id}}" data-role="model">
                        <div class="avatar-size-mod avatar-size-mod-80">
                            <span class="icon avatar-size-area "></span>
                            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                        </div>
                        <h3>{{nickname}}</h3>
                        <p><span class="num">{{num}}</span><span class="txt"></span></p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{#if datas.goddess_model2_has_next_page}}
        <div class="btn-option" data-role="more" data-add="goddess_model2"><i class="icon icon-r-16x26-cur"></i></div>
    {{/if}}
{{/if}}

{{#if datas.garden_model}}
    <div class="item">
        <div class="part-a">
            <div class="lbox ">{{datas.garden_model_title}}</div>
            <div class="rbox more fn-hide" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
        </div>
        <div class="part-b">
            <ul class="list">
                {{#each datas.garden_model}}
                    <li data-user-id="{{user_id}}" data-role="model">
                        <div class="avatar-size-mod avatar-size-mod-80">
                            <span class="icon avatar-size-area "></span>
                            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                        </div>
                        <h3>{{nickname}}</h3>
                        <p><span class="num">{{num}}</span><span class="txt"></span></p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{#if datas.garden_model_has_next_page}}
        <div class="btn-option" data-role="more" data-add="garden_model"><i class="icon icon-r-16x26-cur"></i></div>
    {{/if}}
{{/if}}

{{#if datas.goddess_model1}}
    <div class="item">
        <div class="part-a">
            <div class="lbox ">{{datas.goddess_model1_title}}</div>
            <div class="rbox more fn-hide" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
        </div>
        <div class="part-b">
            <ul class="list">
                {{#each datas.goddess_model1}}
                    <li data-user-id="{{user_id}}" data-role="model">
                        <div class="avatar-size-mod avatar-size-mod-80">
                            <span class="icon avatar-size-area "></span>
                            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                        </div>
                        <h3>{{nickname}}</h3>
                        <p><span class="num">{{num}}</span><span class="txt"></span></p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{#if datas.goddess_model1_has_next_page}}
        <div class="btn-option" data-role="more" data-add="goddess_model1"><i class="icon icon-r-16x26-cur"></i></div>
    {{/if}}
{{/if}}

{{#if datas.goddess_model}}
    <div class="item">
        <div class="part-a">
            <div class="lbox ">{{datas.goddess_model_title}}</div>
            <div class="rbox more fn-hide" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
        </div>
        <div class="part-b">
            <ul class="list">
                {{#each datas.goddess_model}}
                    <li data-user-id="{{user_id}}" data-role="model">
                        <div class="avatar-size-mod avatar-size-mod-80">
                            <span class="icon avatar-size-area "></span>
                            <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                        </div>
                        <h3>{{nickname}}</h3>
                        <p><span class="num">{{num}}</span><span class="txt"></span></p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}

{{#if datas.user_score_top}}
<div class="item">
    <div class="part-a">
        <div class="lbox ">{{datas.user_score_top_title}}</div>
        <div class="rbox more" data-role="to_rank_score">更多 <i class="icon icon-allow-22x12"></i></div>
    </div>
    <div class="part-b">
        <ul class="list">
        {{#each datas.user_score_top}}
            <li data-user-id="{{user_id}}" data-role="model">
                <div class="avatar-size-mod avatar-size-mod-80">
                    <span class="icon avatar-size-area "></span>
                    <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                </div>
                <h3>{{nickname}}</h3>
                <p><span class="num">{{num}}</span><span class="txt">魅力</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}

{{#if datas.date_rank}}
<div class="item">
    <div class="part-a">
        <div class="lbox ">{{datas.date_rank_title}}</div>
        <div class="rbox more" data-role="to_rank_date">更多 <i class="icon icon-allow-22x12"></i></div>
    </div>
    <div class="part-b">
        <ul class="list">
        {{#each datas.date_rank}}
            <li data-user-id="{{user_id}}" data-role="model">
                <div class="avatar-size-mod avatar-size-mod-80">
                    <span class="icon avatar-size-area "></span>
                    <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                </div>
                <h3>{{nickname}}</h3>
                <p><span class="x-css">x</span><span class="num">{{num}}</span><span class="txt">次</span></p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}


{{#if datas.hot_model}}
<div class="item">
    <div class="part-a">
        <div class="lbox ">{{datas.hot_model_title}}</div>
    </div>
    <div class="part-b">
        <ul class="list" data-role="hot_model">
        {{#each datas.hot_model}}
            <li data-user-id="{{user_id}}" data-role="model">
                <div class="avatar-size-mod avatar-size-mod-80">
                    <span class="icon avatar-size-area "></span>
                    <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                </div>
                <h3>{{nickname}}</h3>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

{{#if datas.hot_model_has_next_page}}
<div class="btn-option" data-role="more" data-add="hot_model"><i class="icon icon-r-16x26-cur"></i></div>
{{/if}}
{{/if}}



{{#if datas.comment_score_top}}
<div class="item">
    <div class="part-a">
        <div class="lbox ">{{datas.comment_score_top_title}}</div>

    </div>
    <div class="part-b">
        <ul class="list" data-role="comment_score_top">
        {{#each datas.comment_score_top}}
            <li data-user-id="{{user_id}}" data-role="model">
                <div class="avatar-size-mod avatar-size-mod-80">
                    <span class="icon avatar-size-area "></span>
                    <i class="img image-img avatar-size-img" data-lazyload="{{user_icon}}"></i>
                </div>
                <h3>{{nickname}}</h3>
                <p><span class="num sec-num">{{num}}</span><span class="txt">分</span></p>
            </li>
        {{/each}}
        </ul>
    </div>
</div>
{{#if datas.comment_score_top_has_next_page}}
<div class="btn-option" data-role="more" data-add="comment_score_top"><i class="icon icon-r-16x26-cur"></i></div>
{{/if}}
{{/if}}

