<div class="child" data-role="event-item" data-event-id="{{event_id}}" >
    <i class="img image-img child-img"  data-lazyload="{{cover_image}}">
        {{#if is_authority}}
            <div class="tips-con-red">
                <div class="tips">官方</div>
                <div class="delta"></div>
            </div>
        {{/if}}
        {{#if is_free}}
            <div class="tips-con-green">
                <div class="tips">免费</div>
                <div class="delta"></div>
            </div>
        {{/if}}
        {{#if is_recommend}}
            <div class="tips-con-orange">
                <div class="tips">推荐</div>
                <div class="delta"></div>
            </div>
        {{/if}}
        {{#if act_is_finish}}
            <div class="pic-fade"></div>
            <div class="icon act_is_finish"></div>
        {{/if}}
    </i>
    <div class="child-text">
        <p class="title">{{title}}</p>
        <p class="detail"><i class="icon icon-act-list-athor"></i>{{nickname}}</p>
        <p class="detail"><i class="icon icon-act-list-date"></i>{{start_time}}</p>
        <p class="detail"><i class="icon icon-act-list-price"></i>￥{{budget}}/人</p>
        <p class="detail"><i class="icon icon-act-list-join-num"></i>报名人数：{{event_join}}人</p>

    </div>
</div>



