<div>
    <div class="{{type_tag}}" data-contain data-role="{{type_tag}}-container">
        <div class="wrap-box">
            <div class="{{type_tag}}-inside h-100" data-role="{{type_tag}}-inside">

            </div>
            <div data-role="{{type_tag}}-pull-down" class="w-100 fn-hide" style="text-align: center;height: 45px;">
                加载更多
            </div>
        </div>
    </div>
</div>
