{{#if is_v2}}
    {{#unless authentications.upload}}
        <div data-role="photo">
            <section class="pic">
                <i class="image-img" data-role="img" data-size="{{authentications.img_width}}" data-lazyload="{{authentications.img}}" style="height: 270px"></i>
                <span class="tip">你的资料已经提交，请耐心等候我们的审核，稍后我们将以系统信息推送通知你的实名认证结果，感谢你的配合。</span>
            </section>
            {{#unless authentications.is_check}}
            <div class="btn out-btn" data-role="take-photo">
                <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                    <span class="ui-button-content">立即拍照</span>
                </button>
            </div>
            {{/unless}}
            <div class="btn out-btn" data-role="{{#if authentications.from_date}}page-back{{else}}have-a-see{{/if}}">
            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                <span class="ui-button-content">{{#if authentications.from_date}}继续约拍{{else}}随便逛逛{{/if}}</span>
            </button>
            </div>
        </div>
    {{else}}
        <div data-role="photo">
            <section class="pic small-pic">
                <div class="text">
                    <span class="tip mt0">请上传你手持身份证的照片</span>
                    <span class="tip">
                        请注意：
                        <ul>
                            <li>1、手持证件人的五官必须无遮挡</li>
                            <li>2、身份证信息必须真实有效并且清晰可见</li>
                        </ul>
                    </span>
                </div>
                <i class="image-img" data-lazyload="./images/pai/authentication.jpg"></i>
                <div class="btn" data-role="take-photo">
                    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                        <span class="ui-button-content">立即拍照</span>
                    </button>
                </div>
            </section>
            <span class="tip">我们承诺：所有的信息仅供系统审核使用，我们将严格保护用户的隐私</span>
        </div>
    {{/unless}}
{{else}}
    {{#unless authentications.upload}}
        <div class="title">第一步：实名认证<span class="status">{{authentications.text}}</span></div>
        <div data-role="photo">
            <section class="pic">
                <i class="image-img" data-role="img" data-size="{{authentications.img_width}}" data-lazyload="{{authentications.img}}" style="height: 270px"></i>
            {{#unless authentications.is_check}}
                <div class="btn" data-role="take-photo">
                    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                        <span class="ui-button-content">立即拍照</span>
                    </button>
                </div>
            {{/unless}}
            </section>
        </div>
    {{else}}
        <div class="title">第一步：实名认证</div>
        <div data-role="photo">
            <section class="pic small-pic">
                <div>
                    <div class="text">
                        <span class="tip mt0">请上传你手持身份证的照片</span>
                        <span class="tip">
                            请注意：
                            <ul>
                                <li>1、手持证件人的五官必须无遮挡</li>
                                <li>2、身份证信息必须真实有效并且清晰可见</li>
                            </ul>
                        </span>
                    </div>
                    <i class="image-img" data-lazyload="./images/pai/authentication.jpg"></i>
                </div>
                <div class="btn" data-role="take-photo">
                    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                        <span class="ui-button-content">立即拍照</span>
                    </button>
                </div>
            </section>
        </div>
    {{/unless}}
    {{#if authentications.balance_status}}
        <div class="title">第二步：信用金担保<span class="status">充值完成</span></div>
        <section class="pic small-pic">
            <div class="money"><span>总额：￥</span>300.00</div>
            <span class="tip money-tip">提示：信用金担保仅用于担保模特安全，约拍过程不会被扣费，需要的时候随时提现</span>
        </section>
        <div class="btn out-btn" data-role="{{#if authentications.from_date_success}}back-to-date{{else}}{{#if authentications.from_date}}page-back{{else}}have-a-see{{/if}}{{/if}}">
            <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                <span class="ui-button-content">{{#if authentications.from_date_success}}继续约拍{{else}}{{#if authentications.from_date}}继续约拍{{else}}随便逛逛{{/if}}{{/if}}</span>
            </button>
        </div>
    {{else}}
        <div data-role="money">
            <div class="title">第二步：信用金担保</div>
            <section class="pic small-pic">
                <div class="money"><span>￥</span>300.00</div>
                <div data-role="pay-item-container" class="reset-i"></div>
                <div class="btn money-btn" data-role="recharge">
                    <button class="ui-button ui-button-primary ui-button-size-large ui-button-block">
                        <span class="ui-button-content">马上充值</span>
                    </button>
                </div>
                <div class="tip">
                    <h4>信用金担保的好处？</h4>
                    <ul class=money-ul>
                        <li><span class="point">·</span><span>约到更多优秀的模特</span></li>
                        <li><span class="point">·</span><span>增加约拍成功率</span></li>
                        <li><span class="point">·</span><span>发布专题活动优先审核</span></li>
                    </ul>
                </div>
            </section>
        </div>
    {{/if}}
{{/if}}