<main class="edit-model-page" role="main">
    <header class="nav-header edit-model-nav-header">
        <div class="left-button-wrap">
            <a data-role="page-back" {{#if is_from_reg}}class="fn-hide"{{/if}}><i class="icon icon-back"></i></a>
        </div>

        <h3 class="title">编辑模特卡</h3>

        <div class="right-button-wrap" style="width: 44px;">
        </div>
    </header>

    <div class="edit-model-container" data-role="container">
        <article>
            <header>
                <div class="avatar">
                    <a>
                        <i class="img avatar-img" style="background-image: url({{user_icon}})" data-role="avatar-img"></i>
                    </a>
                </div>

                <h2>真实的照片有益于提高约拍的成功率</h2>
            </header>
            <div class="content">
            <section class="input-list">
                <div>
                    <!--<label>昵称：</label>-->
                    <input data-role="nickname" value="{{nickname}}" placeholder="请输入昵称">
                </div>
                <div class="select-city">
                    <!--<label>城市：</label>-->
                    <div data-role="select-city">
                        请输选择城市
                    </div>
                </div>
            </section>

            <section>
                <ul class="model-size">
                    <li class="icon" data-role="popup" data-target="height">{{height}}</li>
                    <li class="icon" data-role="popup" data-target="weight">{{weight}}</li>
                    <li class="icon" data-role="cup">E+</li>
                    <li class="icon" data-role="popup" data-target="cwh" data-chest=""
                    data-waist="" data-hip="">{{chest}}-{{waist}}-{{hip}}</li>
                </ul>
            </section>

            <!--<section>
                <h3>拍摄类型</h3>
                <div data-role="shoot-style"></div>
            </section>-->

            <section>
                <h3 data-role="works">个人作品</h3>
                <span class="upload-pic-intro">上传不同风格的照片，可以帮助摄影师更好的了解你。</span>
                <div data-role="upload-pic"></div>
            </section>
            </div>
            <div class="next-out"><a class="next" data-role="navigate" data-target="next">下一步</a></div>
        </article>
    </div>
</main>