<section class="input-list">
{{#each items}}
    <div>
        <label>{{name}}：</label>
        <input type="{{input-type}}" input-data-role="{{input-data-role}}" input-role="{{input-role}}" data-unit="{{unit}}">
        <p>{{unit}}</p>
    </div>
{{/each}}
</section>